annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
bioc==2.1
blis==0.7.11
catalogue==2.0.10
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
confection==0.1.5
coverage==7.13.4
cymem==2.0.13
docopt==0.6.2
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz#sha256=a54a114ee11dab7cf6db8cf69ef485145011537f45f3c16c71338c48fd6f070b
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-retries==0.4.5
humanize==4.15.0
idna==3.11
intervaltree==3.2.1
Jinja2==3.1.6
jsonlines==4.0.0
langcodes==3.5.1
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
murmurhash==1.0.15
numpy==1.26.4
packaging==26.0
preshed==3.0.12
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
requests==2.32.5
rich==14.3.2
scipy==1.17.0
shellingham==1.5.4
smart_open==7.5.0
sortedcontainers==2.4.0
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
thinc==8.2.5
tqdm==4.67.3
typer==0.23.0
typer-slim==0.23.0
typing-inspection==0.4.2
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.6.3
wasabi==1.1.3
weasel==0.4.3
wrapt==2.1.1
zenodo-get==3.0.0
